<nav class="navbar navbar-light" style="background-color: #1196E7;">
      
    <span id="title"><h3 style="color: white;">Result Management System</h3> </span>
    <button routerLink="/app-home" type="button" class="btn btn-primary" style="background-color: #e5edf1; color: #1196E7;" id="back">Back</button>
  </nav>


<div class="card" id="test">
    <div class="card-body">
    
        <form class="form-signin" (ngSubmit)="studentSearch()" [formGroup]="studentForm">
            
            <h1 class="h3 mb-3 font-weight-normal">Find Result</h1>
            <div class="form-group">
                <label for="rollNo">Roll No:</label>
                <input type="text"  formControlName="id" class="form-control" id="rollNo" placeholder="RollNo" value="">
            </div>
            <div class="form-group">
                <label for="date">Date of birth:</label>
                <input type="date"  formControlName="dob" class="form-control" id="dob" placeholder="">
            </div>

            <button type="submit" class="btn btn-primary" style="background-color: #1196E7; margin-right: 2rem; margin-left: 15rem;">Search</button>
            <button type="reset" class="btn btn-danger">Clear</button>
    
          </form>
    </div>
    </div>
